<!doctype html>

<html>
<head>
    <meta charset="utf-8 ">
    <!-- HTTP 1.1 -->
    <meta http-equiv="pragma" content="no-cache">
    <!-- HTTP 1.0 -->
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <!-- Prevent caching at the proxy server -->
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <meta http-equiv="expires" content="0">
    <meta name="format-detection" content="telephone=no" />
    <title>asdasd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
</head>
<body class="c-gray-normal" style="width:26.666666666666668rem;height:40rem">
    wap
</body>
</html>